[submodule "firmware/external/pico-sdk"]
	path = firmware/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git

[submodule "firmware/external/FreeRTOS-Kernel"]
	path = firmware/external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git